<% title('Register with company ID number - Bazzartisan') %>

<div id="wrapper">
  <!-- Titlebar -->
  <div id="titlebar" class='gradient'>
    <div class='container'>
      <div class="row">
        <div class="col-md-12">
          <h2>Register by company ID</h2>
          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Register by company ID", new_user_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class='container' id='siret-search'>
    <div class='d-flex align-items-center flex-column add-listing-section padding-bottom-15 padding-top-15 margin-bottom-15'>
      <div class="with_forms">
      	<%= form_for :siren, method: :get, class:'text-right' do |f| %>
		  	<div class="form-inline text-right">
		    	<%= f.text_field :request, placeholder: 'SIRET', value: @request, class:"form-control form-inline mr-5" %>
		    	<%= f.submit 'Search', class: 'margin-bottom-16 form-group button'%>
		  	</div>
		<% end %>
	  </div>
	  <div>
		  	<div>

			<% if @error %>
				<%= @error %>
			<% elsif @siret_result %>
				<ul>
					<li>Company ID number: <%= @siret_result[:company_ID_number] %></li>
					<li>Social reason: <%= @siret_result[:invoice_entity] %></li>
					<li>Established date: <%= @siret_result[:company_foundation].strftime('%d/%m/%Y') %></li>
				</ul>
				<%= link_to "It is my company",new_user_registration_path(attributes:@siret_result), class:'button' %>
			<% end %>

			</div>

		  	<div>
		  		To find your company ID number, please check out your bills or go to
		  		<%= link_to 'here', 'https://www.sirene.fr/sirene/public/recherche', class:'green-link' %>
		  	</div>
		</div>

	</div>

  </div>
</div>