<% title("About") %>

<!-- Wrapper -->
<div id="wrapper">

	<div class="listing-slider mfp-gallery-container margin-bottom-0">
		<div href="images/single-listing-01.jpg" data-background-image="<%= asset_path('matiere/matiere11.jpg') %>" class="item mfp-gallery" title="Title 1"></div>
		<div href="images/single-listing-03.jpg" data-background-image="<%= asset_path('matiere/matiere03.jpg') %>" class="item mfp-gallery" title="Title 2"></div>
		<div href="images/single-listing-04.jpg" data-background-image="<%= asset_path('matiere/matiere09.jpg') %>" class="item mfp-gallery" title="Title 4"></div>
		<div href="images/single-listing-02.jpg" data-background-image="<%= asset_path('matiere/matiere05.jpg') %>" class="item mfp-gallery" title="Title 3"></div>
		<div href="images/single-listing-02.jpg" data-background-image="<%= asset_path('matiere/matiere15.jpg') %>" class="item mfp-gallery" title="Title 3"></div>
		<div href="images/single-listing-04.jpg" data-background-image="<%= asset_path('matiere/matiere10.jpg') %>" class="item mfp-gallery" title="Title 4"></div>
		<div href="images/single-listing-04.jpg" data-background-image="<%= asset_path('matiere/matiere13.jpg') %>" class="item mfp-gallery" title="Title 4"></div>
		<div href="images/single-listing-04.jpg" data-background-image="<%= asset_path('matiere/matiere14.jpg') %>" class="item mfp-gallery" title="Title 4"></div>
	</div>

	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="headline centered margin-top-80">
						Nothing is lost, if we create <br> everything can be transformed !<br><br>
					<span class="margin-top-25">
						It is with the quote from Maxime Lavoisier that we decided to create Bazaar'tisan!<br>
						Having seen a pile of washi paper left in Japan,
						Thibaud decided to collect it and gave it to an artist who made magnificient origami out of it.<br><br>
						<hr><br>
						Bazaar'tisan was born! A market place for merchant looking for valorizing raw materials and <br>artisans seeking to find some for their creations 
						
					</span>
				</h2>
			</div>
		</div>

		<div class="row icons-container" style="margin-top: 50px; margin-bottom: 80px">
			<!-- Stage -->
			<div class="col-md-4">
				<div class="icon-box-2 with-line">
					<i class="fas fa-recycle"></i>
					<h3>Recycle nice materials</h3>
					<p>Instead of being thrown away, theses materials deserved a second chance to be exploited</p>
				</div>
			</div>

			<!-- Stage -->
			<div class="col-md-4">
				<div class="icon-box-2 with-line">
					<i class="fas fa-hands-helping"></i>
					<h3>Get in touch</h3>
					<p>We gather shops and workshops in your neighbor with artists and artisans</p>
				</div>
			</div>

			<!-- Stage -->
			<div class="col-md-4">
				<div class="icon-box-2">
					<i class="fas fa-bicycle"></i>
					<h3>Order and get delivered</h3>
					<p>You can sell and buy online, then choose your delivery option </p>
				</div>
			</div>
		</div>

</div>
<!-- Wrapper / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

