<div class="add-listing-section" style="margin-bottom: 25px">

  <div class="add-listing-headline">
    <h3><i class="fa fa-file-invoice"></i>Billing</h3>
  </div>

  <% button_to method: :update do %>Copy delivery address<% end %>

  <div id="invoice_form">
    Invoice entity <%= f.text_field :invoice_entity, value: current_user.invoice_entity %>
    Address<%= f.text_field :invoice_street, value: current_user.invoice_street %>
    Address (2)<%= f.text_field :invoice_street2, value: current_user.invoice_street2 %>
    Zip code <%= f.text_field :invoice_postcode, value: current_user.invoice_postcode %>
    City <%= f.text_field :invoice_city, value: current_user.invoice_city %>
    Country<%= f.country_select :invoice_country, priority_countries: ["FR"] %>
  </div>

  <% button_to method: :update do %>Save by default<% end %>

</div>