<div class="add-listing-section payment" style="margin-bottom: 35px">

	<div class="add-listing-headline">
		<h3><i class="fa fa-box-open"></i>Delivery option</h3>
	</div>

	<div>
	    <div class='payment-tab-trigger padding-left-0'>
			<%= f.radio_button :delivery_method, 'pickup', id:'order_pickup' %>
	    	<%= f.label 'pickup', class:'padding-bottom-0' do %>Hand delivery<% end %>
	    </div>
	</div>
	<div>
	    <div class='payment-tab-trigger padding-left-0' id='shipping_selection'>
	    	<%= f.radio_button :delivery_method, 'bike', id:'order_bike' %>
    		<%= f.label 'bike' do %>Delivery by bicycle<% end %>    
	    </div>

		<div class='margin-top-10' id="delivery_form">
		    <h4 class='padding-bottom-5'><i class="fa fa-map-marker-alt"></i>	Shipping address</h4>
		    Delivery entity<%= f.text_field :delivery_entity, value: current_user.delivery_entity %>
		    Address<%= f.text_field :delivery_street, value: current_user.delivery_street %>
		    Address (2)<%= f.text_field :delivery_street2, value: current_user.delivery_street2 %>
		    Code postal <%= f.text_field :delivery_postcode, value: current_user.delivery_postcode %>
		    City <%= f.text_field :delivery_city, value: current_user.delivery_city %>
		    Country<%= f.country_select :delivery_country, priority_countries: ["FR"] %>
		    Delivery instructions<%= f.text_area :delivery_instructions, value: current_user.delivery_instructions %>
		</div>

	</div>
</div>